@import '../../../../assets/styles/base/colors';
@import '../../../../assets/styles/base/variables';

.persona-aspect {
  display: flex;
  flex-direction: column;

  .footer{
    display:flex;
    margin-left: auto;
    padding: 1rem;
  }

  .aspect-select{
    display: flex;
    color:$secondary-text;
    align-content: flex-start;
    align-items: center;

    .aspect-title{
      display: flex;
      min-width: 5rem;
    }

    .aspect-item{
      display: flex;
      margin: auto 1rem;
      margin-bottom: 1rem;
    }

  }
}
